
#tablesearch_wrapper
{
    width:417px;
    margin: 20px auto;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px whitesmoke;
    padding: 20px 20px 20px;

}

#tablesearch {
    
    line-heigth: 40px;
    font-size: 15px;
    font-weigth: bold;
    color: #555;
    text-shadow: 0 1px white;
    width: 310px;


}
table tr td select#departmentname {
    min_width:150px;
}



.search {
    text-align: right;
}
.container {

}