
#tablesearch_wrapper
{
    width:417px;
    margin: 20px auto;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px whitesmoke;
    padding: 20px 20px 20px;

}

#tablesearch {
    
    line-heigth: 40px;
    font-size: 15px;
    font-weigth: bold;
    color: #555;
    text-shadow: 0 1px white;
    width: 310px;


}

.search {
    text-align: right;
}


/* JAVASCRIPT GENERATED CONTENT */
#content_wrapper
{
    width:80%;
    margin:50px auto;
}

/* even & odd divs */
.even
{
    width:100%;
    border:1px solid black;
    background-color:lightblue;
}

.odd
{
    width:100%;
    border:1px solid black;
    background-color:lightgreen;
}