
#tablesearch_wrapper
{
    width:80%;
    margin: 0px auto;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px whitesmoke;
    padding: 20px 20px 20px;
    font-family: 'Verdana', sans-serif;
   

}

#tabsearchcontent{
    background-color:powderblue;
    margin: 0px auto;
    width: 350px;
    box-shadow: 0 1px whitesmoke;
   

}

.title{
    margin-top:40px;
    text-align:center;
    font-family:'Verdana';
}


#coursename,#coursenumber{
    font-family:'Verdana';
    margin: 10px;
    right: 10px;
}

#tablesearch {
    
    line-heigth: 40px;
    font-size: 15px;
    font-weigth: bold;
    color: #555;
    text-shadow: 0 1px white;
    width: 310px;
    color:black;


}

.search {
    margin: 10px;
    text-align: right;
   
}


/* JAVASCRIPT GENERATED CONTENT */
#content_wrapper
{
    width:80%;
    margin:40px auto;
}

/* even & odd divs */
.even
{
    width:100%;
    border:1px solid black;
    background-color:lightblue;
}

.odd
{
    width:100%;
    border:1px solid black;
    background-color:lightgreen;
}