
#tablesearch {
    
    line-heigth: 40px;
    font-size: 15px;
    font-weigth: bold;
    text-shadow: 0 1px white;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px whitesmoke;
    width: 400px;
     
    
    
}
#coursename,#coursenumber,#booktitle,#bookisbn,#bookprice{
    margin: 10px;
    right: 10px;
    
    
    
}

.tablecontent {
    background-color:powderblue;
    margin: 0px auto;
    width: 350px;
    box-shadow: 0 1px whitesmoke;
    
}


nav {
    
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: rgb(255,255,255);
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
    
    
}

nav u1 {
    margin: 0;
    padding: 0;
    
}

nav u1 li {
    display: inline-block;
    list-style-type: none;
    
    
}

nav > u1 > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

.submit {
    text-align: right;
}

.container {
    margin: 0px auto;
    width: 80%;
    line-heigth: 40px;
    font-size: 15px;
    font-weigth: bold;
    color: #555;
    padding: 20px 20px 20px;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    box-shadow: 0 1px whitesmoke;
    border-bottom: 1px solid #cfcfcf;


    
   }