.title {
    margin: -20px -20px 21px;
    font-size: 35px;
    font-weith: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    
}
.welcome {
    margin: -20px -20px 21px;
    text-align:center;
}
